<div class="container row">
  <div class=" jumbotron col-md-6 text-center">
    <h1 class="display-4">USERS:</h1>
    <form (ngSubmit)="submitUser()">
      <input
      type="text"
      autocomplete="off"
      placeholder="Your Name Here ..."
      class="form-control"
      id="name"
      [(ngModel)]="userName"
      name="name"
    />
      display {{userName}}
      <button type="submit" class="btn btn-success btn-block btn-lg">
        Add user
      </button>
    </form>
    <hr class="my-4">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let user of users; let i=index" appHighlightUser>
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="" class="card-img" alt="..." height="100%">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{user.login}}</h5>
            <p class="card-text">{{user.bio}}</p>
            <button type="button" class="btn btn-secondary" (click)="getRepos(i)">get repositories</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-6">

  </div>
</div>